body{
    background: #d2d2c1 url("imagens/fundo.png");
    font: 16px Arial, Helvetica, sans-serif;
}

#principal{
    width: 900px;
}

#menu{
    background: #c5c5b2;
    border: 1px solid red;
    padding: 18px;
}